.main-container {
    position: relative;
    height: 700px;
    margin-bottom: 50px;
}

.carousel {
    position: relative;
    width: 100%;
    height: 650px;
    margin: auto;
    overflow: hidden;
  }

.carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .carousel-slide {
    min-width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

.carousel-caption {
    position: absolute;
    bottom: 170px;
    left: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 450px;
}

.carousel-caption h3 {
    font-size: 3.5rem;
}

.star {
    width: 14px;
    height: 14px;
    margin: 0 7px 5px 0;
}

.description {
    font-size: 1rem;
}

.buttons {
    display: flex;
    gap: 15px;
}

.watch-btn,
.add-btn {
    display: inline;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f0ae27;
    background-color: transparent;
    color: #fff;
}

.watch-btn:hover {
    background-color: #f0ae27;
}

.add-btn:hover {
    background-color: #f0ae27;
}
  
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: #c3c2c5a5;
    border: none;
    padding: 10px;
    font-size: 34px;
    z-index: 1;
}

.carousel-button.prev {
    left: 15px;
}

.carousel-button.next {
    right: 15px;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicator {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #c3c2c5;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: width 0.4s ease, background-color 0.4s ease;
}

.indicator.active {
    background-color: #f0ae27;
    border-radius: 10px;
    height: 7px;
    width: 25px;
}