.footer-container {
    display: flex;
    justify-content: space-evenly;
    margin: 120px 0 30px;
}

h6 {
    color: #fff;
    font-size: 1.3rem;
}

ul>li {
    color: #929292;
    line-height: 22px;
}

ul>li:hover {
    color: #ffffff;
}

.container-for-svg-h6 {
    margin: 15px 0px 0px 5px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.movie-svg {
    margin: 0;
    font-size: 1.4rem;
    color: #ffffff;
}

.outstanding-letters {
    color: #f0ae27;
}

.popcorn-svg {
    background-image: url('../../assets/popcorn.svg');
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
}

.instal-btns {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.app-btn,
.gp-btn {
    width: 150px;
    border-radius: 22px;
    background-color: #222222;
    background-repeat: no-repeat;
    transition: transform 0.2s linear;
}

.app-btn {
    padding: 10px 29px 10px 45px;
    color: #fff;
    font-size: 1.1rem;
    background-image: url('../../assets/apple-logo.svg');
    background-position: 16px 6px;
    background-size: 28px 28px;
}

.gp-btn {
    background-image: url('../../assets/gp-logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
}

.i-scale:hover {
    transform: scale(1.05); 
}

.smedia-box {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

.vk, 
.ig,
.wp {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.vk {
    background-image: url('../../assets/vk-logo.svg');
    background-size: 20px 20px; 
    background-position: 4px 5px;
}

.ig {
    background-image: url('../../assets/ig-logo.svg');
    background-size: 15px 15px; 
    background-position: 6.5px 7px;
}

.wp {
    background-image: url('../../assets/wp-logo.svg');
    background-size: 15px 15px; 
    background-position: 7px 6px;
}

.li-space {
    line-height: 25px;
}

.ig-logo,
.fb-logo {
    vertical-align: middle;
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    border-radius: 50%; 
    background-size: 10px 10px; 
    background-position: 6.5px 6px;
    background-repeat: no-repeat;
}

.fb-logo {
    background-image: url('../../assets/fb-logo.svg');
}

.ig-logo {
    background-image: url('../../assets/ig-logo.svg');
}

.f-bottom {
    margin: 100px 0 30px;
}

.line {
    margin-inline: auto;
    width: 70%;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.date {
    padding-left: 44%;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
}

.f-symbol {
    font-size: 20px;
}

/* MEDIA  */

@media (max-width: 1050px) {
    h6 {
        font: 1rem;
    }

    .i-scale {
        padding: 5px 5px 5px 10px;
        width: 100px;
    }

    .app-btn {
        font-size: 0.8rem;
        background-size: 18px;
        background-position: 9px 4px;
    }

    .gp-btn {
        background-size: 80px;
    }
}

@media (max-width: 670px) {
    .footer-container {
        display: none;
    }

    .f-bottom {
        display: none;
    }
}